:host ::ng-deep {
    .p-megamenu {
        background-color: var(--surface-section);
        color: black;
        border-radius: 0px;
        height: 40px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        padding: 4px 0rem 5px 3px;
    }

    .p-button.p-button-sm {
        height: 30px;
        /*width: 45px;*/
        padding: 10px
    }

    .p-fieldset {
        margin-bottom: 5px;
        padding-bottom: 0px;
        margin-inline: 0px;
        margin-top: 0px;

    }

    .p-fieldset-toggleable .p-fieldset-legend a {
        padding: 10px !important;
        font-size: 11px;
    }

    .p-fieldset-content {
        padding: 0px;
    }
}
